<template>
  <bingo-card remove-padding>
    <div class="bg-white q-pa-lg header-acumulado">
      <q-card-section class="q-pa-none">
        <div class="flex justify-center">
          <h5 class="text-uppercase q-ma-none">Acumulado</h5>
        </div>
      </q-card-section>
      <q-card-section class="q-pa-none q-pt-sm">
        <hr class="q-ma-none" />
      </q-card-section>
      <q-card-section class="q-pa-none">
        <h2 class="text-center q-my-sm text-green-9">
          <b>{{ getPrice(info.premium_full) }}</b>
        </h2>
      </q-card-section>
    </div>
    <q-card-section class="q-pa-none q-pt-sm">
      <table class="full-width text-bold text-h5 text-center table-acumulado">
        <label v-for="result in allResults.all_dozens" v-bind:key="result.value" >
            <td class="col-sm-1 called"  v-if="result.status == 1" >
              {{ result.value}}
            </td>
            <td class="col-sm-1" v-if="result.status == 0">
              {{ result.value}}
            </td>
        </label>
      </table>
    </q-card-section>
  </bingo-card>
</template>

<style lang="stylus" scoped>
.header-acumulado {
  border-radius: 5px 5px 0 0 !important;
}
.table-acumulado td {
    border: 1px solid #274a6b;
}
.table-acumulado{
  td{
    display: block;
    width: 10%;
    float: left;
  }
  td.called{
    font-weight: bolder;
    color: red;
    text-decoration: underline;
  }
}
</style>

<script>
import BingoCard from 'src/components/BingoCard';

export default {
  name: 'BingoAcumulado',
  components: { BingoCard },
  props: {
    info: {
      type: Object,
      required: true
    },
    allResults: {
      type: Object,
      required: true
    }
  },
  data() {
    return {};
  },
  methods: {
    getPrice(price) {
      let priceFloat = 0;
      if (price) {
        priceFloat = parseFloat(price);
      }
      return priceFloat.toFixed(2).replace('.', ',');
    }
  }
};
</script>
