<template>
  <bingo-card>
    <q-card-section class="q-pa-none">
      <div class="flex">
        <h5 class="text-uppercase q-ma-none">Bolas sorteadas</h5>
      </div>
    </q-card-section>
    <q-card-section class="q-pa-none q-pt-sm">
      <hr class="q-ma-none" />
    </q-card-section>
    <q-card-section class="q-px-none flex justify-center">
      <q-img
        v-for="(result, index) in results.results"
        :key="`ball-${index}`"
        src="~/src/assets/ball/50/ball1.png"
        width="50px"
      >
        <div class="bg-transparent text-black absolute-full flex flex-center">
          <b>{{ result.value }}</b>
        </div>
      </q-img>
    </q-card-section>
  </bingo-card>
</template>

<script>
import BingoCard from 'src/components/BingoCard';

export default {
  name: 'BingoBolasSorteadas',
  components: { BingoCard },
  props: {
    results: {
      type: Object,
      required: true
    }
  }
};
</script>
