<template>
  <bingo-card>
    <div v-if="game.sortition">
      <q-card-section class="q-pa-none">
        <div class="flex justify-center">
          <h5 class="text-uppercase q-ma-none">Preço</h5>
        </div>
      </q-card-section>
      <q-card-section class="q-pa-none q-pt-sm">
        <hr class="q-ma-none" />
      </q-card-section>
      <q-card-section class="q-pa-none">
        <h3 class="text-center q-my-sm text-green">
          <b>{{ getPrice(game.sortition.price_by_card) }}</b>
        </h3>
      </q-card-section>
      <q-card-section class="q-pa-none q-pt-sm">
        <hr class="q-ma-none" />
      </q-card-section>
      <q-card-section class="q-px-none q-py-sm">
        <div class="flex justify-between">
          <div>Total cartelas</div>
          <h4 class="q-my-none text-red">{{ game.num_cards }}</h4>
        </div>
      </q-card-section>
      <q-card-section class="q-pa-none q-pt-sm">
        <hr class="q-ma-none" />
      </q-card-section>
      <q-card-section class="q-px-none q-py-sm">
        <div class="flex justify-between">
          <div>Linha 1</div>
          <h4 class="q-my-none text-red">
            {{ getPrice(game.one_line_premium ) }}
          </h4>
        </div>
      </q-card-section>
      <q-card-section class="q-pa-none q-pt-sm">
        <hr class="q-ma-none" />
      </q-card-section>
      <q-card-section class="q-px-none q-py-sm">
        <div class="flex justify-between">
          <div>Linha 2</div>
          <h4 class="q-my-none text-red">
            {{ getPrice(game.two_line_premium ) }}
          </h4>
        </div>
      </q-card-section>
      <q-card-section class="q-pa-none q-pt-sm">
        <hr class="q-ma-none" />
      </q-card-section>
      <q-card-section class="q-px-none q-py-sm">
        <div class="flex justify-between">
          <div>Bingo</div>
          <h4 class="q-my-none text-red">{{ getPrice(game.bingo_premium ) }}</h4>
        </div>
      </q-card-section>
    </div>
    <div v-else>
      <q-card-section class="q-pa-none">
        Você não sorteio marcado
      </q-card-section>
    </div>
  </bingo-card>
</template>

<script>
import BingoCard from 'src/components/BingoCard';

export default {
  name: 'BingoPreco',
  components: { BingoCard },
  props: {
    game: {
      type: Object,
      required: true
    }
  },
  methods: {
    getPrice(price) {
      const priceFloat = parseFloat(price);
      return priceFloat.toFixed(2).replace('.', ',');
    }
  }
};
</script>
