<template>
  <bingo-card light>
    <q-card-section class="q-pa-none">
      <div class="flex justify-center">
        <h5 class="text-uppercase q-ma-none">
          Chamada -
          <b>{{ sequence - 1 }}</b>  
        </h5>
      </div>
    </q-card-section>
    <q-card-section class="q-pa-none q-pt-sm">
      <hr class="q-ma-none" />
    </q-card-section>
    <q-card-section class="q-pa-none q-pt-sm text-center">
      <q-img src="~/src/assets/ball/100/ball1.png" width="100px">
        <div class="bg-transparent text-black absolute-full flex flex-center">
          <b>{{ getFirstResult().value }}</b>
        </div>
      </q-img>
    </q-card-section>
  </bingo-card>
</template>

<script>
import BingoCard from 'src/components/BingoCard';

export default {
  name: 'BingoOrdem',
  components: { BingoCard },
  props: {
    results: {
      type: Object,
      required: true
    },
    sequence: {
      type: Number,
      required: true
    }
  },
  methods: {
    getFirstResult() {
      return this.results.results[0];
    }
  }
};
</script>
