<template>
  <bingo-card>
    <q-card-section class="q-pa-none">
      <div class="flex justify-center">
        <h5 class="text-uppercase q-ma-none">Jogando esse concurso</h5>
      </div>
    </q-card-section>
    <q-card-section class="q-pa-none q-pt-sm">
      <hr class="q-ma-none" />
    </q-card-section>
    <q-card-section class="q-pa-none q-pt-sm">
      <table class="text-bold full-width text-center">
        <tr>
          <td class="bg-white text-grey-9">0001</td>
          <td class="bg-red text-left">Marcio</td>
          <td class="bg-yellow text-grey-9">04</td>
        </tr>
        <tr>
          <td class="bg-white text-grey-9">0002</td>
          <td class="bg-red text-left">Urbano</td>
          <td class="bg-yellow text-grey-9">04</td>
        </tr>
      </table>
    </q-card-section>
    <q-card-section class="q-pa-none q-pt-sm">
      <hr class="q-ma-none" />
    </q-card-section>
    <q-card-section class="q-pa-none q-pt-sm full-width">
      <div class="row hidden" >
        <div class="col-xs-6 q-px-xs">
          1777 - Joãozinho
          <table class="text-bold full-width text-center">
            <tr>
              <td class="bg-white text-grey-9">01</td>
              <td class="bg-white text-grey-9">11</td>
              <td class="bg-green">77</td>
              <td class="bg-white text-grey-9">09</td>
              <td class="bg-green">05</td>
            </tr>
            <tr>
              <td class="bg-white text-grey-9">13</td>
              <td class="bg-green">38</td>
              <td class="bg-white text-grey-9">77</td>
              <td class="bg-white text-grey-9">90</td>
              <td class="bg-white text-grey-9">06</td>
            </tr>
            <tr>
              <td class="bg-green">64</td>
              <td class="bg-white text-grey-9">34</td>
              <td class="bg-white text-grey-9">90</td>
              <td class="bg-white text-grey-9">47</td>
              <td class="bg-green">83</td>
            </tr>
          </table>
        </div>
        <div class="col-xs-6 q-px-xs">
          1777 - Joãozinho
          <table class="text-bold full-width text-center">
            <tr>
              <td class="bg-white text-grey-9">01</td>
              <td class="bg-white text-grey-9">11</td>
              <td class="bg-green">77</td>
              <td class="bg-white text-grey-9">09</td>
              <td class="bg-green">05</td>
            </tr>
            <tr>
              <td class="bg-white text-grey-9">13</td>
              <td class="bg-green">38</td>
              <td class="bg-white text-grey-9">77</td>
              <td class="bg-white text-grey-9">90</td>
              <td class="bg-white text-grey-9">06</td>
            </tr>
            <tr>
              <td class="bg-green">64</td>
              <td class="bg-white text-grey-9">34</td>
              <td class="bg-white text-grey-9">90</td>
              <td class="bg-white text-grey-9">47</td>
              <td class="bg-green">83</td>
            </tr>
          </table>
        </div>
      </div>
    </q-card-section>
  </bingo-card>
</template>

<script>
import BingoCard from 'src/components/BingoCard';

export default {
  name: 'BingoJogando',
  components: { BingoCard },
  data() {
    return {};
  }
};
</script>
