<template>
  <q-page class="window-width row justify-center items-center">
    <bingo-card class="col-md-3">
      <bingo-card-title>Cadastro</bingo-card-title>
      <q-form @submit="submit" class="q-gutter-md">
        <q-card-section>
          <bingo-input :errors="errors.name" label="Nome">
            <q-input
              minlength="5"
              required
              dense
              color="black"
              outlined
              clearable
              bg-color="white"
              v-model="form.name"
              type="text"
            />
          </bingo-input>
          <bingo-input :errors="errors.email" label="Email">
            <q-input
              required
              dense
              color="black"
              outlined
              clearable
              bg-color="white"
              v-model="form.email"
              type="email"
            />
          </bingo-input>
          <bingo-input :errors="errors.phone" label="Telefone">
            <q-input
              required
              v-mask="['(##) ####-####', '(##) #####-####']"
              dense
              color="black"
              outlined
              clearable
              bg-color="white"
              v-model="form.phone"
              type="tel"
            />
          </bingo-input>
          <bingo-input :errors="errors.password" label="Senha">
            <q-input
              required
              dense
              color="black"
              outlined
              clearable
              bg-color="white"
              v-model="form.password"
              type="password"
            />
          </bingo-input>
        </q-card-section>
        <bingo-card-button label="Cadastrar"></bingo-card-button>
      </q-form>

      <q-card-section class="text-center text-white">
        <div>Já possui cadastro?</div>
        <router-link
          class="text-decoration-none text-white text-italic"
          :to="{ name: 'login' }"
          >Realize o login</router-link
        >
      </q-card-section>
    </bingo-card>
  </q-page>
</template>

<script>
import BingoCard from 'src/components/BingoCard';
import BingoCardTitle from 'src/components/BingoCardTitle';
import BingoCardButton from 'src/components/BingoCardButton';
import BingoInput from 'src/components/BingoInput';
import { mask } from 'vue-the-mask';

export default {
  name: 'Cadastro',
  components: { BingoCard, BingoCardTitle, BingoCardButton, BingoInput },
  directives: { mask },
  data() {
    return {
      form: {
        name: '',
        email: '',
        phone: '',
        password: ''
      },
      errors: {}
    };
  },
  methods: {
    async submit() {
      try {
        this.errors = {};
        const response = await this.$axios.post('/users/new', this.form);

        const data = response.data;

        if (!data.user_save_status) {
          this.errors = data.errors;
          throw this.$q.notify.responseDataError(
            'Ocorreu um erro ao cadastrar o usuário, tente novamente'
          );
        }

        this.$q.notify.success('Usuário salvo com sucesso!');

        this.$router.push({ name: 'admin' });
      } catch (error) {
        this.$q.notify.error(error.response.data.error);
      }
    }
  }
};
</script>
