<template>
  <q-page class="row justify-center">
    <div class="col-md-6 q-pa-md" >
      <bingo-sorteio
        :results="results"   
        :game="gameIncurse"
        :info="info"
      ></bingo-sorteio>
      <bingo-bilhetes
        :cards="cards"
        :game="game"
        :info="info"   
        class="q-my-md"
        v-if="game.sortition"
      ></bingo-bilhetes>
    </div>  
    <div class="col-md-6 q-pa-md">
      <bingo-cartelas 
        :game="gameIncurse" 
        :cards="cards">
      </bingo-cartelas>  
    </div>
  </q-page>
</template>

<script>
import BingoSorteio from 'src/components/BingoSorteio';
import BingoBilhetes from 'src/components/BingoBilhetes';
import BingoCartelas from 'src/components/BingoCartelas';
import { LocalStorage } from 'quasar';

export default {
  name: 'Home',
  components: { BingoSorteio, BingoCartelas, BingoBilhetes },
  data() {
    return {
      cards: {},
      info: {},
      game: {},
      gameIncurse: {},
      results: {},
      sequence: 1
    };
  },
  watch: {
    'game.sortition.begin_at': function(value) {
      const begin = new Date(value);
      this.game.sortition.time = `${begin.getHours()}:${begin.getMinutes()}`;
      this.game.sortition.date = this.getDate(begin);
      this.game.sortition.day = this.getDay(begin);
    }
  },
  async created() {
    const info = await this.$axios.get('/params/show');
    this.info = info.data;
    const cards = await this.$axios.get('/cards');
    this.cards = cards;
    const game = await this.$axios.get('/sortitions/next');
    this.game = game.data;
    const gameIncurse = await this.$axios.get('/sortitions/incurse');
    this.gameIncurse = gameIncurse.data; 

    LocalStorage.set('sequence', 1);

    let timeouts = window.setTimeout(function() { void(0) }, 0);
    while (timeouts--) {
        window.clearTimeout(timeouts);
    }

    this.getResults();
  },
  methods: {
    async getResults() {

      if (this.gameIncurse.sortition) {
        const time = this.info.dozen_interval * 1000;
        if (LocalStorage.getItem('sequence')) {
          this.sequence = LocalStorage.getItem('sequence');
        }
        const data = {
          sequence: this.sequence
        };
        data['sortition_id'] = this.gameIncurse.sortition.id;
        const results = await this.$axios.post('/results', data);
        this.results = results.data;

        this.sequence++;
        LocalStorage.set('sequence', this.sequence);        
        
        setTimeout(() => {
          if (!this.gameIncurse.sortition.status) {  
            this.getResults();
          } else {
            LocalStorage.set('sequence', 1);
          }
        }, time);

        const cards = await this.$axios.get('/cards');
        this.cards = cards; 

      }     
    },
    getDay(value) {
      const semana = [
        'Domingo',
        'Segunda-Feira',
        'Terça-Feira',
        'Quarta-Feira',
        'Quinta-Feira',
        'Sexta-Feira',
        'Sábado'
      ];
      return semana[value.getDay()];
    },
    getDate(value) {
      const date = new Date(value);
      const day = date.getDate().toString();
      const dayF = day.length == 1 ? `0${day}` : day;
      const month = (date.getMonth() + 1).toString(); //+1 pois no getMonth Janeiro começa com zero.
      const monthF = month.length == 1 ? `0${month}` : month;
      const year = date.getFullYear();

      return `${dayF}/${monthF}/${year}`;
    }
  }
};
</script>
