<template>
  <q-page class="window-width row justify-center items-center">
    <bingo-card class="col-md-3">
      <bingo-card-title>Login</bingo-card-title>
      <q-form @submit="login" class="q-gutter-md">
        <q-card-section>
          <bingo-input label="Usuário">
            <q-input
              required
              dense
              color="black"
              outlined
              clearable
              bg-color="white"
              v-model="form.user"
              type="email"
            />
          </bingo-input>
          <bingo-input label="Senha">
            <q-input
              required
              dense
              color="black"
              outlined
              clearable
              bg-color="white"
              v-model="form.password"
              type="password"
            />
          </bingo-input>
          <div class="text-right text-italic">
            <router-link
              class="text-white text-decoration-none"
              to="/recuperar-senha"
              >Esqueci minha senha</router-link
            >
          </div>
        </q-card-section>
        <bingo-card-button label="Logar"></bingo-card-button>
      </q-form>
      <q-card-section class="text-center text-white">
        <div>Não possui uma conta?</div>
        <router-link
          class="text-decoration-none text-white text-italic"
          to="/cadastro"
          >Crie sua conta</router-link
        >
      </q-card-section>
    </bingo-card>
  </q-page>
</template>

<script>
import BingoCard from 'src/components/BingoCard';
import BingoCardTitle from 'src/components/BingoCardTitle';
import BingoCardButton from 'src/components/BingoCardButton';
import BingoInput from 'src/components/BingoInput';
import { LocalStorage } from 'quasar';

export default {
  name: 'Login',
  components: { BingoCard, BingoCardTitle, BingoCardButton, BingoInput },
  data() {
    return {
      form: {
        user: '',
        password: ''
      }
    };
  },
  methods: {
    async login() {
      try {
        const response = await this.$axios.post('/users/login', this.form);

        const data = response.data;

        if (!data.login_status) {
          throw this.$q.notify.responseDataError(data.login_message);
        }

        this.$q.notify.success(data.login_message);

        LocalStorage.set('token', data.token);

        // this.$router.push({ name: 'admin' });
        window.location.href = "/";

      } catch (error) {
        this.$q.notify.error(error.response.data.error);
      }
    }
  }
};
</script>
