<template>
  <q-page padding>
    <div class="flex justify-between q-my-xs">
      <div class="text-h5">
        <b>Minha conta</b>
      </div>
      <div>
        <q-btn size="sm" color="deep-orange q-mr-sm" v-if="false">
          <b>Promoções</b>
        </q-btn>
        <q-btn size="sm" color="deep-orange q-ml-sm" v-if="false">
          <b>Bônus</b>
        </q-btn>
      </div>
    </div>
    <div class="row text-center justify-center">
      <div class="col-md-4 q-pa-sm">
        <bingo-card>
          <q-form @submit="account" class="q-gutter-md">
            <q-card-section class="text-center">
              <bingo-input :errors="form.user.errors.name" label="Nome">
                <q-input
                  required
                  dense
                  color="black"
                  outlined
                  clearable
                  bg-color="white"
                  type="text"
                  v-model="form.user.data.name"
                />
              </bingo-input>
              <bingo-input :errors="form.user.errors.phone" label="Telefone">
                <q-input
                  required
                  dense
                  v-mask="['(##) ####-####', '(##) #####-####']"
                  color="black"
                  outlined
                  clearable
                  bg-color="white"
                  type="tel"
                  v-model="form.user.data.phone"
                />
              </bingo-input>
            </q-card-section>
            <bingo-card-button label="Alterar"></bingo-card-button>
          </q-form>
        </bingo-card>
      </div>
      <div class="col-md-4 q-pa-sm">
        <bingo-card>
          <q-card-section>
            <bingo-input label="Créditos">
              <q-input
                disable
                required
                dense
                color="black"
                outlined
                clearable
                bg-color="white"
                type="number"
                v-model="form.user.data.credit"
              />
            </bingo-input>
          </q-card-section>
          <q-card-section class="q-pa-none q-pt-sm">
            <hr class="q-ma-none" />
          </q-card-section>
          <q-card-section class="q-pa-none q-pt-sm">
            <bingo-card-title>
              Id de cartelas antigas:
            </bingo-card-title>
            <div>id: 12424329782</div>
            <div>id: 12424329782</div>
            <div>id: 12424329782</div>
            <div>id: 12424329782</div>
            <div>id: 12424329782</div>
            <div>id: 12424329782</div>
            <div>id: 12424329782</div>
          </q-card-section>
        </bingo-card>
      </div>
      <div class="col-md-4 q-pa-sm">
        <bingo-card>
          <bingo-card-title>
            Definir nova senha
          </bingo-card-title>

          <q-form @submit="reset" class="q-gutter-md">
            <q-card-section>
              <bingo-input
                :errors="form.password.errors.password"
                label="Digite a nova senha"
              >
                <q-input
                  required
                  dense
                  color="black"
                  outlined
                  clearable
                  bg-color="white"
                  type="password"
                  v-model="form.password.data.password"
                />
              </bingo-input>
            </q-card-section>
            <bingo-card-button label="Salvar"></bingo-card-button>
          </q-form>
        </bingo-card>
      </div>
    </div>
  </q-page>
</template>

<script>
import BingoCard from 'src/components/BingoCard';
import BingoInput from 'src/components/BingoInput';
import BingoCardButton from 'src/components/BingoCardButton';
import BingoCardTitle from 'src/components/BingoCardTitle';
import { mask } from 'vue-the-mask';

export default {
  name: 'MinhaConta',
  components: { BingoCard, BingoCardButton, BingoInput, BingoCardTitle },
  directives: { mask },
  data() {
    return {
      form: {
        user: {
          errors: {},
          data: {}
        },
        password: {
          errors: {},
          data: {
            password: ''
          }
        }
      }
    };
  },
  async created() {
    const response = await this.$axios.get('/users/show');
    this.form.user.data = response.data.user;
  },
  methods: {
    async account() {
      try {
        this.form.user.errors = {};

        const formData = {
          name: this.form.user.data.name,
          email: this.form.user.data.email,
          phone: this.form.user.data.phone
        };

        const response = await this.$axios.put('/users/edit', formData);

        const data = response.data;

        if (!data.user_save_status) {
          this.form.user.errors = data.errors;
          throw this.$q.notify.responseDataError(
            'Ocorreu um erro ao editar as informações do usuário, tente novamente'
          );
        }

        this.$q.notify.success('Informaçẽos do usuário salvas com sucesso!');

        this.form.user.data = response.data.user;
      } catch (error) {
        this.$q.notify.error(error.response.data.error);
      }
    },
    async reset() {
      try {
        this.form.password.errors = {};

        const response = await this.$axios.put(
          '/users/edit-password',
          this.form.password.data
        );

        const data = response.data;

        if (!data.user_save_status) {
          this.form.password.errors = data.errors;
          throw this.$q.notify.responseDataError(
            'Ocorreu um erro ao editar a senha, tente novamente'
          );
        }

        this.$q.notify.success('Senha salva com sucesso!');

        this.form.password.data.password = '';
        this.form.user.data = response.data.user;
      } catch (error) {
        this.$q.notify.error(error.response.data.error);
      }
    }
  }
};
</script>
