<template>
  <q-page class="window-width row justify-center items-center">
    <bingo-card>
      <bingo-card-title>Esqueceu usuário ou senha?</bingo-card-title>
      <q-form @submit="recover" class="q-gutter-md">
        <q-card-section>
          <bingo-input label="Email">
            <q-input
              dense
              color="black"
              outlined
              clearable
              bg-color="white"
              v-model="form.email"
              type="email"
            />
          </bingo-input>
        </q-card-section>
        <bingo-card-button label="Enviar"></bingo-card-button>
      </q-form>
      <q-card-section class="text-center text-white">
        <router-link
          class="text-decoration-none text-white text-italic"
          :to="{ name: 'login' }"
          >Realize o login</router-link
        >
      </q-card-section>
    </bingo-card>
  </q-page>
</template>

<script>
import BingoCard from 'src/components/BingoCard';
import BingoCardTitle from 'src/components/BingoCardTitle';
import BingoCardButton from 'src/components/BingoCardButton';
import BingoInput from 'src/components/BingoInput';
export default {
  name: 'RecuperarSenha',
  components: { BingoCard, BingoCardTitle, BingoCardButton, BingoInput },
  data() {
    return {
      form: {
        email: ''
      }
    };
  },
  methods: {
    async recover() {
      try {
        const response = await this.$axios.post('/users/recover', this.form);
      } catch (error) {
        this.$q.notify.error(
          error.response.data.error || error.response.data.errors
        );
      }
    }
  }
};
</script>
