<template>
  <q-page class="justify-center">
    <div class="row">
      <div class="col-md-3 col-xs-12 q-pa-md">
        <bingo-preco v-if="Object.keys(game).length" :game="game"></bingo-preco>
        <bingo-ordem
          v-if="results.results && results.results.length"
          :results="results"
          :sequence="sequence"
          class="q-my-md"
        ></bingo-ordem>
      </div>
      <div class="col-md-4 col-xs-12 q-pa-md">
        <bingo-jogando></bingo-jogando>
      </div>
      <div class="col-md-5 col-xs-12 q-pa-md">
        <bingo-acumulado :info="info" :allResults="allResults" ></bingo-acumulado>
      </div>
    </div>
    <div
      class="q-px-md q-pb-md"
      v-if="results.results && results.results.length"
    >
      <bingo-bolas-sorteadas :results="results"></bingo-bolas-sorteadas>
    </div>
  </q-page>
</template>

<script>
import BingoPreco from 'src/components/Tv/BingoPreco';
import BingoOrdem from 'src/components/Tv/BingoOrdem';
import BingoJogando from 'src/components/Tv/BingoJogando';
import BingoAcumulado from 'src/components/Tv/BingoAcumulado';
import BingoBolasSorteadas from 'src/components/Tv/BingoBolasSorteadas';
import { LocalStorage } from 'quasar';

export default {
  name: 'Tv',
  components: {
    BingoPreco,
    BingoOrdem,
    BingoJogando,
    BingoAcumulado,
    BingoBolasSorteadas
  },
  data() {
    return {
      cards: {},
      info: {},
      game: {},
      results: {},
      allResults: {},
      sequence: 1
    };
  },
  async created() {
    const info = await this.$axios.get('/params/show');
    this.info = info.data;
    const cards = await this.$axios.get('/cards/list');
    this.cards = cards;
    const game = await this.$axios.get('/sortitions/incurse');
    this.game = game.data;

    let timeouts = window.setTimeout(function() { void(0) }, 0);
    while (timeouts--) {
        window.clearTimeout(timeouts);
    }
    
    this.getResults();
  },
  methods: {
    async getResults() {
      if (this.game.sortition) {
        const time = this.info.dozen_interval * 1000;
        if (LocalStorage.getItem('sequence')) {
          this.sequence = LocalStorage.getItem('sequence');
        }
        const data = {
          sequence: this.sequence
        };
        data['sortition_id'] = this.game.sortition.id;
        const results = await this.$axios.post('/results', data);
        this.results = results.data;

        this.sequence++;
        LocalStorage.set('sequence', this.sequence);

        if (this.results.length == 0) {
            LocalStorage.set('sequence', 1);     
        }

        const allResults = await this.$axios.post('/results/all', data);
        this.allResults = allResults.data;  

        setTimeout(() => {
          if (!this.game.sortition.status) {
            this.getResults();
          } else {
            LocalStorage.set('sequence', 1);  
          }
        }, time);
      }
    }
  }
};
</script>
