<template>
  <bingo-card>
    <q-card-section class="q-pa-none">
      <div class="flex justify-center">
        <h5 class="text-uppercase q-ma-none">
          Comprar bilhetes para o
          <b>próximo jogo</b>
        </h5>
      </div>
    </q-card-section>
    <q-card-section class="q-pa-none q-pt-sm">
      <hr class="q-ma-none" />
    </q-card-section>
    <q-card-section class="q-pa-none">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <div class="q-py-sm">{{ game.sortition.description }}</div>

          <hr class="q-mt-none" />

          <div class="flex justify-between">
            <div>{{ game.sortition.time }}</div>
            <div>{{ game.sortition.day }}</div>
            <div>{{ game.sortition.date }}</div>
          </div>

          <hr class />

          <div class="float-right">
            <div class="flex">
              <q-img
                src="~/src/assets/trophy.png"
                width="32px"
                class="q-mr-xs"
              ></q-img>
              <div>{{ info.premium_full }}</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12 text-center">
          <div>Cartelas compradas</div>
          <h5 class="text-uppercase q-ma-lg">
            {{ game.num_users }}/{{ game.num_cards }}
          </h5>
        </div>
      </div>
    </q-card-section>
    <q-card-section class="q-pa-none q-pt-sm">
      <hr class="q-ma-none" />
    </q-card-section>
    <q-card-section class="q-pa-none q-pt-sm">
      <div class="text-right">
        <q-badge color="light-blue-10">Máximo: {{ info.max_cards }}</q-badge>
      </div>

      <q-slider
        :value="quantidadeCompra"
        @change="
          val => {
            quantidadeCompra = val;
          }
        "
        :min="0"
        :max="getMax(info.max_cards)"
        :step="1"
        color="light-blue-10"
        label
        label-always
        dark
      />

      <div class="text-center">
        <q-btn-group>
          <q-btn color="red" @click="setQuantidadeCompra(0)">
            <b>0</b>
          </q-btn>
          <q-btn
            color="red"
            @click="setQuantidadeCompra(getOptionMedium(info.max_cards))"
          >
            <b>{{ getOptionMedium(info.max_cards) }}</b>
          </q-btn>
          <q-btn color="red" @click="setQuantidadeCompra(info.max_cards)">
            <b class="text-lowercase text-capitalize">Máx.</b>
          </q-btn>
        </q-btn-group>
      </div>
    </q-card-section>
    <q-card-section class="q-pa-none q-pt-lg">
      <hr class="q-ma-none" />
    </q-card-section>
    <q-card-section class="q-pa-none flex justify-around">
      <div class="q-py-sm text-center">
        <q-btn @click="destroy()" color="red" class="q-mt-sm">
          <b>Remover</b>
        </q-btn>
      </div>
      <div class="q-py-sm text-center">
        Preço total
        <br />
        <h5 class="text-uppercase q-ma-sm">R$ {{ getPrecoTotal() }}</h5>
      </div>
      <div class="q-py-sm text-center">
        <q-btn @click="store()" color="light-blue-10" class="q-mt-sm">
          <b>Comprar</b>
        </q-btn>
      </div>
    </q-card-section>
  </bingo-card>
</template>

<script>
import BingoCard from 'src/components/BingoCard';

export default {
  name: 'BingoBilhetes',
  components: { BingoCard },
  props: {
    info: {
      type: Object,
      required: true
    },
    game: {
      type: Object,
      required: true
    },
    cards: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      quantidadeCompra: 0
    };
  },
  methods: {
    destroy() {
      if (confirm('Tem certeza que deseja remover o que foi selecionado?')) {
        this.quantidadeCompra = 0;
      }
    },
    async store() {
      if (this.quantidadeCompra === 0) {
        return this.$q.notify.error('Selecione a quantidade de cartelas');
      }
      if (confirm('Tem certeza que deseja comprar a quantidade selecionada?')) {
        try {
          const data = {
            price: this.getPrecoTotal(),
            // eslint-disable-next-line @typescript-eslint/camelcase
            sortition_id: this.game.sortition.id,
            // eslint-disable-next-line @typescript-eslint/camelcase
            qtd_cards: this.quantidadeCompra
          };
          const response = await this.$axios.post('/cards/buy', data);

          if (!response.data.card_save_status) {
            const errors = Object.values(response.data.errors).join(', ');
            throw this.$q.notify.responseDataError(errors);
          }

          this.quantidadeCompra = 0;
          const cards = await this.$axios.get('/cards/list');
          this.cards.data = cards.data;
        } catch (error) {
          this.$q.notify.error(error.response.data.error);
        }
      }
    },
    getMax(value) {
      return parseInt(value);
    },
    setQuantidadeCompra(val) {
      this.quantidadeCompra = val;
    },
    getOptionMedium(val) {
      return Math.trunc(val / 2);
    },
    getPrecoTotal() {
      return (
        this.quantidadeCompra * this.game.sortition.price_by_card
      ).toFixed(2);
    }
  }
};
</script>
