<template>
  <bingo-card>
    <div v-if="game.sortition">
      <q-card-section class="q-pa-none">
        <h5 class="text-uppercase q-ma-none">
          CONCURSO - {{ game.sortition.id }}
        </h5>
      </q-card-section>
      <q-card-section class="q-pa-none q-pt-sm">
        <hr class="q-ma-none" />
      </q-card-section>
      <q-card-section class="q-pa-none">
        <div class="row justify-around">
          <!-- Parte 1 -->
          <div class="col-sm-4 q-pa-sm" v-if="Object.keys(results).length">
            <div class="text-center">
              <div class="text-uppercase">
                Chamada -
                <b>{{ getFirstResult().sequence }}</b>
              </div>
              <q-img src="~/src/assets/ball/100/ball1.png" width="100px">
                <div
                  class="bg-transparent text-black absolute-full flex flex-center"
                >
                  <b>{{ getFirstResult().value }}</b>
                </div>
              </q-img>
            </div>
            <div class="row flex justify-around q-mt-sm">
              <div v-for="(result, key) in getResults(3)" :key="`ball-${key}`">
                <q-img src="~/src/assets/ball/50/ball1.png" width="50px">
                  <div
                    class="bg-transparent text-black absolute-full flex flex-center"
                  >
                    <b>{{ result.value }}</b>
                  </div>
                </q-img>
              </div>
            </div>
          </div>

          <!-- Parte 2 -->
          <div class="col-sm-4 flex column justify-center q-pa-sm">
            <q-card class="bg-red flex justify-between q-pa-xs">
              Jogadores
              <div>{{ game.num_users }}</div>
            </q-card>
            <q-card class="bg-red flex justify-between q-pa-xs q-mt-sm">
              Acumulado
              <div>R$ {{ getPrice(info.premium_full) }}</div>
            </q-card>
          </div>

          <!-- Parte 3 -->
          <div class="col-sm-4 flex column justify-between q-pa-sm">
            <q-card
              class="bg-light-blue-10 flex full-height justify-between q-pa-sm"
            >
              <div class="text-center full-width">
                <b>PRÊMIO DE BINGO</b>
                <hr />
              </div>

              <div class="row justify-between full-width">
                1 Linha
                <b>R$ {{ getPrice(game.one_line_premium) }}</b>
              </div>
              <div class="row justify-between full-width">
                2 Linha
                <b>R$ {{ getPrice(game.two_line_premium) }}</b>
              </div>
              <div class="row justify-between full-width">
                Bingo
                <b>R$ {{ getPrice(game.bingo_premium) }}</b>
              </div>
            </q-card>
          </div>
        </div>
      </q-card-section>
    </div>
    <div v-else>
      <q-card-section class="q-pa-none">
        Você não sorteio marcado
      </q-card-section>
    </div>
  </bingo-card>
</template>

<script>
import BingoCard from 'src/components/BingoCard';

export default {
  name: 'BingoSorteio',
  components: { BingoCard },
  props: {
    info: {
      type: Object,
      required: true
    },
    game: {
      type: Object,
      required: true
    },
    results: {
      type: Object,
      required: true
    }
  },
  methods: {
    getFirstResult() {
      return this.results.results[0];
    },
    getResults(number) {
      return this.results.results.slice(1, number + 1);
    },
    getPrice(price) {
      const priceFloat = parseFloat(price);
      return priceFloat.toFixed(2).replace('.', ',');
    }
  }
};
</script>
