<template>
  <q-card dark class="transparent shadow-1 card-bordered" :class="{'q-pa-lg': !removePadding, 'q-pa-none': removePadding }">
    <div class="overlay" :class="{'dimmed': !light, 'light-dimmed': light}"></div>
    <slot></slot>
  </q-card>
</template>

<style lang="stylus" scoped>
.card-bordered, .overlay:after {
  border-radius: 5px;
}
</style>

<script>
export default {
  name: 'BingoCard',
  props: {
    light: {
      type: Boolean,
      required: false,
      default: false
    },
    removePadding: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data() {
    return {};
  }
};
</script>
