<template>
  <q-card-section>
    <div class="title text-center text-white text-uppercase text-bold">
      <slot></slot>
    </div>
  </q-card-section>
</template>

<style lang="stylus" scoped>
.title {
  letter-spacing: 4px;
}
</style>

<script>
export default {
  name: 'BingoCardTitle',
  data() {
    return {};
  }
};
</script>
