<template>
  <q-card-section class="q-my-none q-pt-xs">
    <q-btn unelevated color="green-14" type="submit" class="full-width text-bold" :label="label" />
  </q-card-section>
</template>

<script>
export default {
  name: 'BingoCardButton',
  props: {
    label: {
      Type: String,
      required: true
    }
  },
  data() {
    return {};
  }
};
</script>
