<template>
  <div>
    <div class="text-bold">{{ this.label }}</div>
    <slot></slot>
    <div v-if="errors">
      <p class="input-error" :key="key" v-for="(error, key) in errors">{{ error }}</p>
    </div>
  </div>
</template>

<style lang="stylus" scoped>
.input-error {
  color: red;
  font-weight: bold;
}

.input-error:first-letter {
  text-transform: uppercase;
}
</style>

<script>
export default {
  name: 'BingoInput',
  props: {
    label: {
      type: String,
      required: true
    },
    errors: {
      type: Array,
      required: false,
      default() {
        return [];
      }
    }
  },
  data() {
    return {};
  }
};
</script>
