<template>
  <bingo-card>
    <div
      v-if="getNumCards(cards)"
    >
      <q-card-section class="q-pa-none">
        <div class="flex justify-between full-width">
          <div class="q-ma-none" >
            <b>Suas cartelas</b>
          </div>  
        </div>
      </q-card-section>
      <q-card-section class="q-pa-none q-pt-sm">
        <hr class="q-ma-none" />
      </q-card-section>
      <q-card-section class="q-pa-none justify-around q-pt-sm row">
        <div
          class="col-md-6"
          v-for="(card, key) in cards.data"
          :key="`card-${key}`"
        >
          <q-card
            class="flex q-pa-sm q-ma-sm"
            :class="{ 'bg-red': !card.status, 'bg-green': card.status }"
          >
            <div class="text-right full-width">
              <b>CONCURSO: {{ card.sortition_id }}</b>
            </div>
            <table class="q-table full-width text-center text-black">
              <tbody>
                <tr
                  :key="`line-${indexLine}`"
                  v-for="(line, indexLine) in getLines(card.dozens)"
                >
                  <td
                    :class="{
                      'bg-white': !dozen.status,
                      'bg-green': dozen.status
                    }"
                    :key="`dozen-${indexDozen}`"
                    v-for="(dozen, indexDozen) in line"
                  >
                    {{ dozen.value }}
                  </td>
                </tr>
              </tbody>
            </table>
          </q-card>
        </div>
      </q-card-section>
    </div>
    <div v-else>
      <q-card-section class="q-pa-none">
        Você não tem cartelas
      </q-card-section>
    </div>
  </bingo-card>
</template>

<style lang="stylus">
.q-table tbody td {
  height: 18px !important;
  text-align: center;
  font-weight: 700;
  border: 1px solid black;
}

.q-table td {
  padding: 1px 5px;
}
</style>

<script>
import BingoCard from 'src/components/BingoCard';

export default {
  name: 'BingoCartelas',   
  components: { BingoCard },
  props: {  
    cards: {
      type: Object,  
      required: true
    },
    game: {
      type: Object,
      required: true
    }
  },
  methods: {
    getNumCards(cards){
      let num = 0;
      if(typeof cards.data !== 'undefined')
      {
        num = Object.keys(cards.data).length;    
      }
      else
      {
        num = 0;
      }
      return num;
    },
    getPrice(price) {
      const priceFloat = parseFloat(price);
      return priceFloat.toFixed(2);
    },
    getLines(dozens) {
      // Máximo de dezenas em uma linha
      const maxDozensLines = Math.ceil(dozens.length / 3);
      const lines = [];

      let line = [];
      dozens.forEach(dozen => {
        if (line.length >= maxDozensLines) {
          lines.push(line);
          line = [];
        }
        line.push(dozen);
      });
      lines.push(line);

      return lines;
    }
  }
};
</script>
