// app global css in Sass form
body
    font-family: Arial
    background: url('/statics/background-public.jpg') no-repeat center top fixed
    background-size: cover
    background-attachment: fixed

.text-decoration-none
    text-decoration: none
