<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class="bg-light-blue-10">
      <q-toolbar class="text-white text-bold">
        <router-link
          :to="{name: 'admin'}"
          class="text-decoration-none text-h6 text-white q-mx-md text-bold"
        >
          <label v-if="!isAuthenticated()">BINGO BR</label>
          <label v-if="isAuthenticated()">Crédito: 100,00</label>
        </router-link>

        <q-list class="list-menu flex no-wrap" v-if="isAuthenticated()">
          <q-item
            v-for="(menuItem, index) in linksLeft"
            :key="`left-${index}`"
            :clickable="menuItem.hasOwnProperty('label')"
            :v-ripple="menuItem.hasOwnProperty('label')"
            @click="link(menuItem.label)"
          >
            <q-item-section>{{ menuItem.title }}</q-item-section>
          </q-item>
        </q-list>

        <q-toolbar-title></q-toolbar-title>

        <q-list class="list-menu flex no-wrap" v-if="isAuthenticated()">
          <q-item
            v-for="(menuItem, index) in linksRight"
            :key="`right-${index}`"
            :clickable="menuItem.hasOwnProperty('label')"
            :v-ripple="menuItem.hasOwnProperty('label')"
            @click="link(menuItem.label)"
          >
            <q-item-section>{{ menuItem.title }}</q-item-section>
          </q-item>
        </q-list>
        <q-list class="flex no-wrap" v-else>
          <q-item clickable v-ripple @click="login()">
            <q-item-section>Login</q-item-section>
          </q-item>
        </q-list>

        <q-btn
          v-if="isAuthenticated()"
          class="right-drawner-button"
          flat
          dense
          round
          icon="menu"
          @click="rightDrawerOpen = !rightDrawerOpen"
        ></q-btn>
      </q-toolbar>
    </q-header>
    <q-drawer
      side="right"
      v-model="rightDrawerOpen"
      show-if-above
      behavior="mobile"
      elevated
      content-class="bg-light-blue-10 text-white"
    >
      <q-scroll-area class="fit">
        <q-list>
          <q-item
            v-for="(menuItem, index) in linksLeft"
            :key="`left-${index}`"
            :clickable="menuItem.hasOwnProperty('label')"
            :v-ripple="menuItem.hasOwnProperty('label')"
            @click="link(menuItem.label)"
          >
            <q-item-section>{{ menuItem.title }}</q-item-section>
          </q-item>
        </q-list>
        <q-separator />
        <q-list>
          <q-item
            v-for="(menuItem, index) in linksRight"
            :key="`right-${index}`"
            :clickable="menuItem.hasOwnProperty('label')"
            :v-ripple="menuItem.hasOwnProperty('label')"
            @click="link(menuItem.label)"
          >
            <q-item-section @click="link(menuItem.label)">{{ menuItem.title }}</q-item-section>
          </q-item>
        </q-list>
      </q-scroll-area>
    </q-drawer>

    <q-page-container class="text-white">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<style lang="stylus" scoped>
@media (min-width: 768px) {
  .right-drawner-button {
    display: none;
  }
}

@media (max-width: 768px) {
  .list-menu {
    display: none;
  }
}
</style>

<script>
import { LocalStorage } from 'quasar';

export default {
  name: 'MainLayout',
  data() {
    return {
      rightDrawerOpen: false,
      linksLeft: [
        {
          title: 'Tv',
          label: 'tv'
        },
        {
          title: 'Minha conta',
          label: 'minha-conta'
        },
        {
          title: 'Depositar',
          label: 'depositar'
        },
        {
          title: 'Sacar',
          label: 'sacar'
        }
      ],
      linksRight: [
        {
          title: 'Sair',
          label: 'sair'
        }
      ]
    };
  },
  methods: {
    logout() {
      LocalStorage.remove('token');
      this.login();
    },
    login() {
      this.$router.push({ name: 'login' });
    },
    link(label) {
      if (label == 'sair') {
        return this.logout();
      }
      if (label == 'tv' && this.$router.currentRoute.name !== 'tv') {
        return this.$router.push({ name: 'tv' });
      }
      if (label == 'minha-conta' && this.$router.currentRoute.name !== 'minha-conta') {
        return this.$router.push({ name: 'minha-conta' });
      }
    },
    isAuthenticated() {
      const token = LocalStorage.getItem('token');

      if (!token) {
        return false;
      }

      // Request para endpoint que informa se usuário está autenticado (token é válido)

      return true;
    }
  }
};
</script>
