<template>
  <q-layout view="lHh Lpr lFf">
    <q-page-container class="text-white">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<style lang="stylus">
.title {
  font-size: 20px;
}
</style>

<script>
export default {
  name: 'PublicLayout'
};
</script>
